.saltoContenedor{
	margin-top: 200px !important;
}
.tamanioImagen{
	width: 700px;
    height: 500px;
}
.contenedorDetalle{
	width: 1326px;
    margin-left: 286px;
    background-color: #f2f2f2;
	border-top-style: solid;
    border-top-width: 3px;
    border-top-color: #99ff99;
    padding-bottom: 50px;
}
.estiloTitulo{
	text-transform: capitalize;
}
.cajaImagen{

    border-top-style: groove;
    border-bottom-style: ridge;
    border-bottom-width: 4px;
    border-left-style: groove;
    border-right-style: ridge;
    border-right-width: 4px;
}
.saltoImagenDetalle{
	margin-left: 23%;
    margin-top: 100px;
    margin-bottom: 100px;
}
.tituloRecetaDetalle{
	margin-left: 148px;
    margin-top: 125px;
    color: #660000;
}
.contenedorTextoDetalle{
	width: 1000px;
    margin-left: 14%;
    text-align: justify;
}
.botonVolverDetalle{
	margin-top: 82px !important;
    margin-left: 82% !important;
}