div(ng-controller = 'AdminCtrl')

	
	include ../include/errores.pug

	div.loading(ng-if="estadoDevolverRecetas =='CARGANDO'") 
		img(style="display:block; margin:0 auto;" src="/PFG/oauth2.0/app/image/loading.gif")
	h3.tituloAdmin(ng-if="listadoUsuariosAdmin.length > 0") Usuario de la aplicacion
	table.tablaAdmin(ng-if="listadoUsuariosAdmin.length > 0")
		tr.headerAdmin
			th.cabeceraTabla.paddingNombre NOMBRE
			th.cabeceraTabla.padding USERNAME
			th.cabeceraTabla.paddingEmail EMAIL
			th.cabeceraTabla.padding Nº RECETA
			th.cabeceraTabla.paddingBoton

		tr(ng-repeat="admin in listadoUsuariosAdmin track by admin.id")
			td.celda
				span.usuarioAdmin {{admin.nombre}} {{admin.apellidos}}
			td.celda
				span.usuarioAdmin {{admin.username}}
			td.celda
				span.usuarioAdmin {{admin.email}}
			td.celda(ng-if="admin.numRecetas != undefined")
				span.usuarioAdmin {{admin.numRecetas}}
			td.celda(ng-if="admin.numRecetas == undefined")
				span.usuarioAdmin 0
			td.celda 
				input.botonTablaAdmin(ng-if="estadoEliminar !='CARGANDO'" type="submit" value="Eliminar" ng-click="eliminarUsuario(admin.id)")
				img(ng-if="estadoEliminar =='CARGANDO'" style="display:block; margin:0 auto;" src="/PFG/oauth2.0/app/image/miniLoading.gif")

	h3.tituloAdmin(ng-if="listadoUsuariosTerceros.length > 0") Usuarios de un tercero
	table.tablaAdmin(ng-if="listadoUsuariosTerceros.length > 0")
		tr.headerAdmin
			th.cabeceraTabla.paddingNombre NOMBRE
			th.cabeceraTabla.padding USERNAME
			th.cabeceraTabla.paddingEmail EMAIL
			th.cabeceraTabla.padding Nº RECETA

		tr(ng-repeat="tercero in listadoUsuariosTerceros track by tercero.id")
			td.celda
				span.usuarioAdmin {{tercero.nombre}} {{tercero.apellidos}}
			td.celda
				span.usuarioAdmin {{tercero.username}}
			td.celda
				span.usuarioAdmin {{tercero.email}}
			td.celda(ng-if="tercero.numRecetas != undefined")
				span.usuarioAdmin {{tercero.numRecetas}}
			td.celda(ng-if="tercero.numRecetas == undefined")
				span.usuarioAdmin 0
			