footer.separador
		.separador2
		.separador
		div.estiloPie
			div.text-left
				span Autor: Tetyana Hrytsay
			div.text-right.text-top
				span Autentificación mediante protocolo OAuth2.0  con Token JWT