div(ng-controller = 'HomeCtrl')
	div
		img#imagenTitulo(src="/PFG/oauth2.0/app/image/gorro.png", ng-click="recargar()")
	div#texto
		table#tabla
			tr
				td#titulo
					p
						h1#titulo1 {{literales.cabecera.titulo1}}
					p
						h3#subtitulo {{literales.cabecera.titulo2}}
				td
					table
						
						tr#buscador
							td
								input#menuBotonLogin(ng-if="estadoVerificar == '' || estadoVerificar=='ERROR'", type="button", value="LogIn", name="buscador", ng-click="login()")
								input#menuBotonLogin(ng-if="estadoVerificar=='OK'", type="button", value="LogOut", name="buscador", ng-click="logout()")
						