div.fondoError
div.modalContent
	div
		img.iconoError(src="/PFG/oauth2.0/app/image/felicidades.png")
	div.mensajeError
		h3.texto1 Usted se ha registrado con exito.
		p
		span.texto1.texto2 Introduzca su usurio para entrar.
		p
		input.botonConnexion(type="button", value="Aceptar", name="aceptar", ng-click="cancelar()")